/* Global Styles */

* {
    font-family: 'Roboto', Arial, sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    margin: 0;
  }
  
  .container {
    margin: 20px 50px;
  }
  
  router-outlet + *  {
    padding: 0 16px;
  }